@charset "utf-8";

html, body{
    font-size: 15px;
}

/* layout */
.row { 
    width: 100%; 
    display: flex; 
    flex-wrap: nowrap; 
}

.col-1 { width: 8.3333%; }
.col-2 { width: 16.6666%; }
.col-3 { width: 24.9999%; }
.col-4 { width: 33.3332%; }
.col-5 { width: 41.6665%; }
.col-6 { width: 49.9998%; }

.col-1, .col-2, 
.col-3, .col-4 { 
    border-right: 1px solid #f6f6f6; 
}

.bg-border { 
    position: fixed; 
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: -10; 
}

.con-box.row { 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: auto; 
    max-width: 1200px; 
}

.con-box-list { 
    position: relative; 
    width: 47.5%; 
    margin: 0 auto; 
}
.con-box-list .list-num { 
    position: absolute; 
    top: 0; left: 0; 
    z-index: -1; 
    font-family: 'Bungee Outline', cursive; 
    font-size: 15em; 
    color: #e9e9e9; 
}
.con-box-list .list-img, 
.con-box-list .list-text { 
    position: relative; 
    z-index: 1; 
}
.con-box-list .list-img { margin-top: 30%; }
.con-box-list .list-img img { width: 100%; }
.con-box-list:nth-child(2n) { 
	margin: 20% auto 10%; 
}

.con-box-list:nth-child(2n) .list-num { left: auto; right: 0; }
.con-box-list:nth-child(3) .list-num { left: auto; right: 0; }
.con-box-list:nth-child(6) .list-num { left: 0; right: auto; }

@media screen and (max-width:600px){
	.logo{display: none;}
	.con-box-list{ width: 85%;}
	.list-text-tit{ font-size: 5.5vw; }
	/* .con-box-list:nth-child(2n){ margin-top: 10%;} */
}


/* header */
.head { 
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    padding: 20px 0 5px;
}
.head .logo{
    text-indent: -999px;
    background: url(../images/logo.png) no-repeat 0 center;
}


/* footer */
.foot{ padding:8% 0 5%; }
.foot .copy{
    text-align: center;
    color: #888;
}




/* loading */
.loading{
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
	background:rgba(255,255,255,1);
	z-index: 100;
}
.loading-bar {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	bottom: 0;
    right: 0;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	box-shadow: 15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246), -15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246);
		-o-box-shadow: 15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246), -15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246);
		-ms-box-shadow: 15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246), -15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246);
		-webkit-box-shadow: 15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246), -15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246);
		-moz-box-shadow: 15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246), -15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246);
	animation: cssload-spin ease infinite 4.6s;
		-o-animation: cssload-spin ease infinite 4.6s;
		-ms-animation: cssload-spin ease infinite 4.6s;
		-webkit-animation: cssload-spin ease infinite 4.6s;
		-moz-animation: cssload-spin ease infinite 4.6s;
}



@keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246), 
		-15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246);
	}
	25% {
		box-shadow: -15px 15px rgb(221,234,246), -15px -15px rgb(62,87,197), 
		15px -15px rgb(221,234,246), 15px 15px rgb(62,87,197);
	}
	50% {
		box-shadow: -15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246), 
		15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246);
	}
	75% {
		box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, 
		-15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}
@-ms-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246), 
		-15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246);
	}
	25% {
		box-shadow: -15px 15px rgb(221,234,246), -15px -15px rgb(62,87,197), 
		15px -15px rgb(221,234,246), 15px 15px rgb(62,87,197);
	}
	50% {
		box-shadow: -15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246), 
		15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246);
	}
	75% {
		box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, 
		-15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}
@-o-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246), 
		-15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246);
	}
	25% {
		box-shadow: -15px 15px rgb(221,234,246), -15px -15px rgb(62,87,197), 
		15px -15px rgb(221,234,246), 15px 15px rgb(62,87,197);
	}
	50% {
		box-shadow: -15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246), 
		15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246);
	}
	75% {
		box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, 
		-15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}
@-moz-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246), 
		-15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246);
	}
	25% {
		box-shadow: -15px 15px rgb(221,234,246), -15px -15px rgb(62,87,197), 
		15px -15px rgb(221,234,246), 15px 15px rgb(62,87,197);
	}
	50% {
		box-shadow: -15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246), 
		15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246);
	}
	75% {
		box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, 
		-15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}
@-webkit-keyframes cssload-spin {
	0%,
	100% {
		box-shadow: 15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246), 
		-15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246);
	}
	25% {
		box-shadow: -15px 15px rgb(221,234,246), -15px -15px rgb(62,87,197), 
		15px -15px rgb(221,234,246), 15px 15px rgb(62,87,197);
	}
	50% {
		box-shadow: -15px -15px rgb(62,87,197), 15px -15px rgb(221,234,246), 
		15px 15px rgb(62,87,197), -15px 15px rgb(221,234,246);
	}
	75% {
		box-shadow: 15px -15px #dfdfdf, 15px 15px #4f4d49, 
		-15px 15px #dfdfdf, -15px -15px #4f4d49;
	}
}
