@charset "utf-8";

.max-width{
    max-width: 1200px;
    margin: 0 auto;
}


.scroll-section { padding-top: 20vh; }
.scroll-section.visual h2,
.scroll-section.visual .main-message{ font-family: 'Sunflower', sans-serif; }
.main-message .gray{
    font-weight: 100;
    color: #b8caec;
}
.scroll-section h2 { 
    font-size: 7rem; 
    text-align: center;
}
.scroll-section .main-message { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 3rem; 
    text-transform: capitalize; 
    line-height: 1.2; 
    opacity: 0;
}
.scroll-section .main-message strong { 
    text-align: center; 
    display: block; 
    font-size: 5rem; 
}
.scroll-section .sticky-elem { 
    position: fixed; 
    left: 0;  
    top: 20vh;
    width: 100%;
    display: none; 
}


.fix-text{
    position: fixed;
    left: 0;right: 0;
    top: calc(100vh - 350px);
}
.fix-text .visual-title { 
    text-align: center; 
    font-size: 2rem; 
    color: #b8caec;
    margin-top: 5%;
    letter-spacing: .1em;
    font-weight: 100;
    line-height: 1;
}
.fix-text .visual-title small{ font-size: 1rem; }
.fix-text .visual-title+small{
    display: block;
    text-align: center;
    margin-top: 9%;
    color: #cecece;
    text-transform: uppercase;
    letter-spacing: 1.5em;
}


#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem { display: block; }





.section-list h2.con-tit, 
.section-list p.con-tit{
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
}
/* p.con-tit{padding-top:12%;} */
.section-list{
    position: relative;
    padding-top: 0;;
    /* background: red; */
}
.line-bar{
    position: absolute;
    top:5vh;left: 0;right: 0;bottom: 0;
    margin: 0 auto;
    width: 2px;
    height: 97%;
    background: #b8caec;
    z-index: -1;
}

/* 리스트 */
.section-list .con-box{ 
    padding: 8% 0 12%; 
    box-sizing: border-box;
}
.con-box-list{ 
    transform:translateY(20%);
    opacity: 0; 
}

.list-text-tit{
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -.01em;
    line-height: 2;
}
.list-text-label{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}
.list-text-label span{
    padding: 2px 5px;
    /* border-radius: 5px; */
    /* background: #9ea8bd; */
    margin: 2px;
    font-size: .8rem;
    color: #9ea8bd;
}

.list-text-link{
    text-align: center;
}
.list-text-link a:not(:last-child){margin-right: 5px;}
.list-text-link .btn-defalut{
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    border:1px solid #111;
    margin-top: 20px;
    color: #111;
    min-width: 30%;
    letter-spacing: -.05em;
    box-sizing: border-box;
}
.list-text-link a:not(.disable):hover{
    background: #375486;
    color: #fff;
    border-color: transparent;
    
    transform: translateY(5%);
    box-shadow: inset 1px 1px 0 1px rgba(0,0,0,.2);
    transition: all .3s;
}

a[disable]{
    border-color: #d8d5d5 !important;
    background: #ddd;
    color: #999 !important;
    pointer-events: none;
}






/* 마지막 페이지 */
.section-about{
    text-align: center;
    font-size: 1rem;
    color: #a0a0a0;
    line-height: 1.4;
    position: relative;
    /* padding-top: 25vh; */
}
.section-about h2{
    font-size: 1.667rem;
    text-transform: uppercase;
    line-height: 1.2;
    color: #111;
    margin-bottom: 1%;
}
.section-about .box-sns{
    padding-top: 13%;
}
.section-about .box-sns a{
    display: inline-block;
    height: 38px;width: 38px;
    vertical-align: middle;
    background: url(../images/icon.png) no-repeat;
    text-indent: -9999px;
}
.section-about .box-sns .icon-sns-email{
    background-position: 0 center;
}
.section-about .box-sns .icon-sns-git{
    background-position: 50% center;
}
.section-about .box-sns .icon-sns-in{
    background-position: 100% center;
}

.section-about .line-bar{
    height: 15%;
    top: auto;
    bottom: 14%;
}



@media screen and (max-width:1330px){
    .scroll-section{}
    .scroll-section.visual h2{font-size: 5rem;}
    .fix-text{
        top: calc(100vh - 225px);
    }
}
@media screen and (max-width:600px){}
@media screen and (max-width:600px){}


@media screen and (max-width:600px){
    .head {
        padding:2%;
        box-sizing: border-box;
    }
    .max-width{
        max-width: 100vw;
        overflow: auto;
    }

    .scroll-section h2{
        font-size: 17vw;
    }
    .visual-title+small{
        font-size: 2vw;
    }
    .scroll-section .main-message strong{
        font-size: 14vw;
        line-height: 1.2;
        letter-spacing: -.04em;
    }
    .fix-text{ bottom:20vh; }


    h2.con-tit, p.con-tit{ 
        font-size: 3vw;
    }

    /* 리스트 */
    .con-box-list .list-num{
        font-size: 20vw;
    }
    .list-text-tit{
        font-size: 4.5vw;
        letter-spacing: -.05em;
    }
    .list-text-label{width: 100%;}
    .list-text-link .btn-defalut{ 
        padding: .7em 1.5em; 
        font-size: 3vw;
        margin-top: 1rem;
    }


    .section-about h2{
        font-size: 5vw;
    }
    .section-about h2+p{
        font-size: 3vw;
    }
    .section-about .box-sns{
        padding-top: 30%;
    }

    .foot .copy{
        font-size: .7em;
    }

}
