body{
    /* 영문 */
    font-family: 'Righteous', cursive;
    font-family: 'Rajdhani', sans-serif;
    /* font-family: 'Monoton', cursive; */
    font-family: 'Sarpanch', sans-serif;
    font-family: 'Bungee Outline', cursive;
    /* 한글 */
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Sunflower', sans-serif;
}